@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --background: #0b0f14;
  --foreground: #e6eef9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  padding-left: 20%;
  padding-right: 20%;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
